<section class="timeline-section" id="timeline">
    <div class="container">
        <p class="text-orange fw-semibold">Timeline</p>
        <h2 class="section-title mb-5">Education Period</h2>
        <div class="row py-3 border-bottom education-period-item" style>
        <div class="col-md-4">2023 - Today</div>
        <div class="col-md-4">Student</div>
        <div class="col-md-4">Telkom University</div>
        </div>
        <div class="row py-3 border-bottom education-period-item" style>
        <div class="col-md-4">2021 - 2023</div>
        <div class="col-md-4">Student</div>
        <div class="col-md-4">SMA Negeri 1 Ngawi</div>
        </div>
        <div class="row py-3 border-bottom education-period-item" style>
        <div class="col-md-4">2018-2021</div>
        <div class="col-md-4">Student</div>
        <div class="col-md-4">SMP Negeri 2 Ngawi</div>
        </div>
    </div>
</section>