<section class="header-section" id="header">
    <div class="container">
        <div class="row align-item-center justify-content-between">
            <div class="col-md-6">
                <p class="text-orange fw-semibold">Rafi Gunawan</p>
                <h1 class="header-title text-uppercase fw-bold mb-5">Network Engineer <br class="d-none d-md-block" />at Telkom University</h1>

                <div class="mt-4"> <!-- Added margin top -->
                    <a href="" class="header-skill d-inline-flex align-items-center gap-2">
                        Web Development <i class="bx bx-right-arrow-alt fs-4"></i>
                    </a>
                    <br />
                    
                    <a href="" class="header-skill d-inline-flex align-items-center gap-2">
                        Network Enthusiast <i class="bx bx-right-arrow-alt fs-4"></i>
                    </a>
                </div>

                <div class="mt-4"> <!-- Added margin top -->
                    <p class="header-about-me">"Hello! I'm Rafi Gunawan, a passionate network engineer currently study at Telkom University. With a keen interest in both web development and networking, I thrive on building and optimizing digital infrastructures that empower connectivity and innovation. When I'm not immersed in cables and routers, you can find me exploring new technologies or enjoying outdoor adventures."</p>
                </div>
            </div>
            <div class="col-md-5">
                <img src="static/images/selfiebaru.jpg" class="header-img" alt="">
            </div>
        </div>
    </div>
</section>
