<section class="portofolio-section" id="portofolio">
    <div class="container">
        <p class="text-orange fw-semibold">Portofolio</p>
        <h2 class="section-title mb-5">My Activities</h2>
        <div class="swiper portofolio-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card-body">
                            <img src="static/images/Netschool.jpg" alt="" class="card-img-top rounded mb-3">
                            <h6 class="fw-semibold">Netschool Participant</h6>
                            <a href="https://telkomuniversityofficial-my.sharepoint.com/:i:/g/personal/adaptivenetlab_365_telkomuniversity_ac_id/EYBsAgEO78xLnJtGOX8BmSMB1xIgnonqARMSeQI7lCClLg?e=a3gg0y" class="text-orange">More detail</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card-body">
                            <img src="static/images/Netdev.jpg" alt="" class="card-img-top rounded mb-3">
                            <h6 class="fw-semibold">Netdev Participant</h6>
                            <a href="https://adaptivenetworklab.org/kegiatan/" class="text-orange">More detail</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card-body">
                            <img src="static/images/NDN1.png" alt="" class="card-img-top rounded mb-3">
                            <h6 class="fw-semibold">Paper Riviewer</h6>
                            <a href="https://www.canva.com/design/DAF6Yj8k2YU/6pZCY6y2h9ZynWknBVaUMA/edit?utm_content=DAF6Yj8k2YU&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" class="text-orange">Named Data Network</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card-body">
                            <img src="static/images/SDN.png" alt="" class="card-img-top rounded mb-3">
                            <h6 class="fw-semibold">Paper Riviewer</h6>
                            <a href="https://www.canva.com/design/DAF77JkFW0w/dd8SXssEGx_MEff9zwTJuA/edit" class="text-orange">Software Defined Network</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end gap-3 mt-3">
                <button class="btn btn-dark d-flex align-items-center justify-content-center btn-prev">
                    <i class="bx bx-left-arrow-alt fs-5"></i>
                </button>
                <button class="btn btn-dark d-flex align-items-center justify-content-center btn-next">
                    <i class="bx bx-right-arrow-alt fs-5"></i>
                </button>
            </div>
            </div>
        </div>
    </div>
</section>