<section class="skills-section" id="skills">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6">
                <p class="text-orange fw-semibold">Skills</p>
                <h2 class="section-title mb-5">VARIOUS SKILLSET</h2>

                <div class="mb-3">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <p class="text-white text-uppercase fw-semibold mb-0">Linux Operating System</p>
                        <p class="text-white text-uppercase ">50%</p>
                    </div>
                    <div class="progress-bar">
                        <span class="progress" style="width: 50%;"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <p class="text-white text-uppercase fw-semibold mb-0">Cisco Packet Tracer</p>
                        <p class="text-white text-uppercase ">50%</p>
                    </div>
                    <div class="progress-bar">
                        <span class="progress" style="width: 50%;"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <p class="text-white text-uppercase fw-semibold mb-0">C language</p>
                        <p class="text-white text-uppercase ">50%</p>
                    </div>
                    <div class="progress-bar">
                        <span class="progress" style="width: 50%;"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <p class="text-white text-uppercase fw-semibold mb-0">Pyhton language</p>
                        <p class="text-white text-uppercase ">40%</p>
                    </div>
                    <div class="progress-bar">
                        <span class="progress" style="width: 40%;"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <img src="static/images/programming.jpeg" class="skills-img enhanced-img" alt="">
            </div>
        </div>
    </div>
</section>